html, body {
  height: 100%;
  background: white;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

@viewport {
  width: extend-to-zoom 980px;
  min-zoom: 0.25;
  max-zoom: 5;
}


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */

@media screen and (max-width: 740px) {
  .parallax {
    background-attachment: scroll;
    background: none;
  }
  p {
    font-size: 13px;
  }
}

.parallax {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("http://res.cloudinary.com/anewmodern/image/upload/v1502513309/tarantula-nebula-1245253_1280_swtjfb.jpg");
}

.parallax2 {
  background-image: url("http://res.cloudinary.com/anewmodern/image/upload/v1502513308/space-2578118_1920_rsojfw.jpg");
}

.parallax3 {
  background-image: url("http://res.cloudinary.com/anewmodern/image/upload/v1502513312/galaxy-1844995_1920_rxdbxk.jpg");
}

.parallax4 {
  background-image: url("http://res.cloudinary.com/anewmodern/image/upload/v1502513311/galaxy-1082185_1920_jozrim.jpg");
}

.hello-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  background: white;
  width: auto;
  max-width: 100%;
  overflow: auto;
  margin: 50px 20px 50px 20px;
}

.hello-text {
  width: 80%;
}

.my-picture {
  border-radius: 10px;
  max-width: 100%;
  width: 200px;
  display: block;
  height: auto;
  margin-top: 10px;
}

.works-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 50px 20px 50px 20px;
}

.front-end-projects, .back-end-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  padding: 15px 15px 15px 15px;
}

.project {
  background: white;
  width: 300px;
  height: 150px;
  border: 1px solid black;
  margin: 5px 0 5px 0;
  transition: all .2s ease-in-out;
}

.project:hover {
  transform: scale(1.3);
}

.front-1 {
  background-image: url("http://res.cloudinary.com/anewmodern/image/upload/v1485308894/backday8_moeyha.png");
  background-size: cover;
}

.front-2 {
  background-image: url("http://res.cloudinary.com/anewmodern/image/upload/v1503026956/2017-08-17-212643_1366x768_scrot_e01ups.png");
  background-size: cover;
}

.info-panel, .photo-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  background: white;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: 50px 20px 50px 20px;
}

.contacts, .photo-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 60%;
  margin: 5px 5px 5px 5px;
  font-size: 37px;
}

a {
  color: black;
}

.photos {
  border: 1px solid black;
  position: relative;
}

.inner-photos {
  width: 350px;
  height: auto;
}

.button {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  top: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.left {
  left: 0%;
}

.right {
  right: 0%;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.contact {
  transition: all .2s ease-in-out;
}

.contact:hover {
  transform: scale(1.2);
  overflow: hidden;
}

.contacts-panel {
  padding-top: 15px;
  height: 50px;
  font-family: inherit;
  text-align: center;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  width: 90%;
  height: 20px;
  border: 1px solid black;
}

.html-level {
  width: 75%;
  height: 100%;
  background-color: #B8621F;
}

.javascript-level {
  width: 92%;
  height: 100%;
  background-color: #B8621F;
}

.css-level {
  width: 88%;
  height: 100%;
  background-color: #B8621F;
}

.jquery-level {
  width: 88%;
  height: 100%;
  background-color: #B8621F;
}

.english-level {
  width: 99%;
  height: 100%;
  background-color: #B8621F;
}

.spanish-level {
  width: 95%;
  height: 100%;
  background-color: #B8621F;
}

.german-level {
  width: 33%;
  height: 100%;
  background-color: #B8621F;
}

.port-level {
  width: 3%;
  height: 100%;
  background-color: #B8621F;
}
