* {
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

html,
body {
  background: #efefef;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

p {
  font-size: 16px;
}

main {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
}

h1 {
  font-size: 40px;
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  background: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 10px 15px;

  .logo-text {
    display: flex;
    flex-direction: row;

    #header-text {
      padding-top: 10px;
      .name {
        font-size: 22px;
      }
    }
  }
}

#logo {
  width: 45px;
  height: 47px;
}

.buttons {
  width: 100px;
  height: 50px;
  background: lightgrey;
  border: 2px solid black;
  font-size: 16px;
  -webkit-transition: background 0.3s; /* Safari */
  transition: background 0.3s;
  -webkit-transition: color 0.3s; /* Safari */
  transition: color 0.3s;
}

.buttons:focus {
  outline: 0;
}

.buttons:hover {
  background: grey;
  color: white;
}

.buttons:active {
  background: lightgrey;
  color: black;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 150px;
  margin-top: 40px;
  margin-bottom: 40px;

  p {
    font-size: 20px;
  }
}

.projects-small {
  display: block;
  width: 90%;

  .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
    width: 100%;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
    border: 2px solid black;
    border-bottom: none;

    .project-info {
      background: black;
      color: whitesmoke;
      padding: 10px;
      height: 30px;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }
  .project-1 {
    height: 300px;
  }
}

.projects-large {
  display: none;
  position: relative;
  flex-direction: row;
  width: 67vw;

  .project-large {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: end;
    width: 5%;
    height: 800px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
    border: 2px solid black;
    border-right: none;

    .project-info {
      background: black;
      color: whitesmoke;
      padding: 10px;
      height: 30%;
      width: 30px;
      text-align: center;
      writing-mode: vertical-rl;
      cursor: pointer;
    }
  }

  .project-1-large {
    width: 90%;
  }

  .project-3-large {
    border-right: 2px solid black;
  }
}

.project-1,
.project-1-large {
  background: url("http://res.cloudinary.com/anewmodern/image/upload/v1505083820/2017-09-10-164801_1366x768_scrot_ufokjm.png");
}

.project-2,
.project-2-large {
  background: url("http://res.cloudinary.com/anewmodern/image/upload/v1485308894/backday8_moeyha.png");
}

.project-3,
.project-3-large {
  background: url("http://res.cloudinary.com/anewmodern/image/upload/v1485619526/Website%20Screenshot/tribute-page.jpg");
  border-bottom: 2px solid black;
}

.project-1,
.project-2,
.project-3,
.project-1-large,
.project-2-large,
.project-3-large {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.testimonies {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;

  .testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;

    .quote {
      font-size: 20px;
      text-align: justify;
      padding-bottom: 30px;
    }

    .author {
      text-align: right;
      font-size: 18px;
      align-self: flex-end;
    }

    .company {
      color: #045f8c;
    }
  }
}

.about-me {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
  p {
    text-align: justify;
  }
}

#profile-picture {
  float: left;
  width: 120px;
  height: auto;
  margin-right: 10px;
  border: 2px solid black;
}

@media screen and (min-width: 720px) {
  .main-info {
    justify-content: center;
    height: 400px;
    margin-top: 0px;
  }
  #header-text {
    .name {
      font-size: 30px;
    }
    .header-info {
      padding-left: 5px;
    }
  }
  .testimonies {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 700px;
  }
  
  .about-me {
    width: 700px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-areas: 
    "a a b b b b b b"
    "c c b b b b b b"
    "d d d d d d d d";
  }

  .main-info {
    grid-area: a;
    padding: 50px;
    margin: 0px;
    width: 30vw;
    
    h1 {
      font-size: 25px;
    }
  }

  .projects-large {
    display: flex;
    grid-area: b;
  }

  .projects-small {
    display: none;
  }
  
  .about-me {
    grid-area: c;
    width: 30vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0px;
  }
  
  .testimonies {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-area: d;
    margin: 0px;
    margin-top: 100px;
    width: 90vw;
    
    .testimony {
      padding-left: 10vw;
    }
  }
}
